.main {
  margin: auto;
  max-width: 800px;
  padding: 20px;
}
.header{
  text-align: center;
}
.rules{
  text-align: center;
}
.health {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color:darkcyan
}

.hands {
  display: flex;
  justify-content: space-between;
}


.player-hand,
.opponent-hand {
  flex: 1;
  margin-right: 0px;
}
.cardsRow{
  margin-left:50px
}
.opponent-hand {
  margin-left: 390px;
}

.card {
  width: 120px;
  height: 180px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: lightblue;
  text-align: center;
  font-size: 350%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.card:hover {
  box-shadow: 0px 0px 10px black;
  border-color:white;
}

.card:nth-child(even) {
  background-color: lightgreen;

}


.card.disabled {
  opacity: 0.5;
  cursor: default;
}

@media (max-width: 799px) {
  .opponent-hand {
    margin-left: 20px;
  }
}
